*{
    box-sizing: border-box;
}

.main-footer {
    background: rgba(30,200,30,0.4);
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: .8em;
}

.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before {
    position: relative
    top: 3;
    right: 5px;
}

.main-footer img{
    width: 200px;
}